@import url('../style.css');

body {
background-color: whitesmoke;
}

.contenedor {
    display: grid;
    grid-template-columns: 200px 600px;
    color: black;
}

.izquierda {
    background-color: blue;
    border: 2px solid white;
    padding: 5px;
}

.grilla-interna{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
}

.item{
    border: 2px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    background-color: red;
}

.item:nth-of-type(2) {
    background-color: orange;
}
.item:nth-of-type(3) {
    background-color: lightsalmon;
}
.item:nth-of-type(4) {
    background-color: indigo;
}
.item:nth-of-type(5) {
    background-color: blueviolet;
}
.item:nth-of-type(6) {
    background-color: lightskyblue;
}
.item:nth-of-type(7) {
    background-color: darkgreen;
}
.item:nth-of-type(8) {
    background-color: green;
}
.item:nth-of-type(9) {
    background-color: greenyellow;
}




/* .contenedor {
    background-color: white;
    border: 5px solid black;
    padding: 5px;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(auto-fit,100px);
    grid-template-rows: repeat(2,100px);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-items: stretch;
    align-items: stretch;

    justify-content: start;
    align-content: start;

}

.item{
    text-align: center;
    background-color: orange;
    border: 1px solid black;
}

.uno{
    background-color: blue;
    /* grid-column: 1 / 3;
    grid-row: 2 / 3; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */