@import url('./fuentes/style.css');

:root {
    --colorPrimario: #F3D242;
    --colorSecundario: #3D3D3D;
}

body{
    background-color: #2B2B2B;
    color: whitesmoke;
}

h1 {
text-align: center;
color: whitesmoke;
}

nav {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

li{
    background-color: var(--colorPrimario);
    margin: 5px;
}

a{
    color: var(--colorSecundario);
    padding: 15px;
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-items: flex-end;
}

