@import url('./Fuentes/style.css');

ul {
    list-style: none;
    padding: 0;
}

a{
    display: inline-block;
    padding: 10px;
    background-color: midnightblue;
    color: lightpink;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto 15px auto;
}