@import url('./fuentes/style.css');

:root {
    --colorPrimario: midnightblue;
    --colorSecundario: lightpink;
}

body{
    background-color: #2B2B2B;
    color: whitesmoke;
}

h1 {
text-align: center;
color: whitesmoke;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 5px 5px 5px;
    list-style: none;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

li{
    background-color: var(--colorPrimario);
    padding: 15px;
    margin: 5px 5px 5px 5px;
}

a{
    color: var(--colorSecundario);
    text-align: center;
    text-decoration: none;
}