@import url('../style.css');

/* Desktop first
h1{
    font-size: 80px;
    color: blue;
}

p {
    font-size: 32px;
    background-color: yellow;
    color: red;
}

/*cambia los estilos a partir de un tamano maximo de pantalla
@media (max-width: 1024px) {
    h1{
        font-size: 40px;
        color:red;
    }

}
*/

/*Mobile first: de mas chico a mas grande, recomendable*/
body{
    background-color: darkslategray;
    color: white;
}
h1{
    font-size: 40px;
    color:red;
}

p{
    color:white;
    background-color: black;
    font-size: 30px;
}

@media (min-width: 1024px) {
    body{
        background-color: whitesmoke;
        color: darkblue;
    }
    h1{
        font-size: 80px;
        color: darkblue;
        background-color: whitesmoke;
    }
    p{
        color: whitesmoke;
        background-color: darkblue;
        font-size: 15px;
    }
}