@import url('../style.css');

@font-face{ /*Fuentes online*/
    
    font-family: "Raleway";

    src:url('./fonts/Raleway-Regular-subset.ttf') format('truetype');

    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src:url('./fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}


@font-face {
    font-family: 'Raleway';
    src:url('./fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

body{
    font-family: "Raleway";
}

h1 {
    font-weight: 700;
}
h2 {
    font-weight: 400;
    font-style: italic
}
h3 {
    font-weight: 700;
    font-style: italic
}
h4 {
    font-weight: 100;
}
h5 {
    font-weight: 100;
}
h6 {
    font-weight: 200;
}

