@import url('../style.css');

div{
    display: inline-block;
    padding: 20px;
    background-color: darkblue;
    color: white;
    cursor:default;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.transicion:hover {
    background-color: goldenrod;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(.3,1.14,.74,1.23);

}

.rotate:hover {
    transition: all 2s linear;
    transform: rotate(90deg);
}

.scale:hover{
    transition: all 2s linear;
    transform: scale(2);
}

.keyframe{
animation-name: Rotacion;
animation-duration: 1.5s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes Rotacion{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}

@keyframes shake {

    0% {
        transform: rotate(0deg);
    
    }
    10% {
        transform: rotate(20deg);
    
    }
    20% {
        transform: rotate(-20deg);
    
    }
    30% {
        transform: rotate(20deg);
    
    }
    40% {
        transform: rotate(-20deg);
    
    }
    50% {
        transform: rotate(0deg);
    
    }
    100% {
        transform: rotate(0deg);
    }
}

.bounce{
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.5);
    }
}

.cartel-roto{
    animation-name: cartel;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
    transform-origin: 0 0;  
}

@keyframes cartel{
    0% {
        transform: rotate(0deg);
    
    }
    10% {
        transform: rotate(20deg);
    
    }
    20% {
        transform: rotate(-20deg);
    
    }
    30% {
        transform: rotate(20deg);
    
    }
    40% {
        transform: rotate(-20deg);
    
    }
    50% {
        transform: rotate(0deg);
    
    }
    100% {
        transform: rotate(0deg);
    }
}

.reverse, .reverse2 {
    animation-name: reverse;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.reverse2 {
    animation-direction: reverse;
}

@keyframes reverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform:rotate(45deg);
        background-color: blanchedalmond;
    }
}

.shake2 {
    animation-name: shake2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes shake2{
  
    10%,30%,50%,70%,90% {
      transform: translate3d(-10px, 10px, 0);
    }
  
    20%,40%,60%,80% {
      transform: translate3d(10px, -10px, 0);
    }
  }