@import url('../../style.css');

:root {
    --width: 900px;
    --bg: darkgrey
}

body{
    background-color: white;
}

header{
    background-color: gray;
    height: 80px;
    display: flex;
    width: var(--width);
    justify-content: center;
    margin-bottom: 10px;
}

.superior {
    background-color: var(--bg);
    display: flex;
    height: 100px;
    width: var(--width);
    margin-bottom: 10px;
}

/* Grilla 1 es contenedora de grillas 2 y 3 */
.grilla1 { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    height: 300px;
    width: var(--width);
    margin-bottom: 10px;
}

/* Grilla 2 es contenedora del lado izquierdo */
.grilla2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grilla21 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grilla211{
    background-color: var(--bg);
}


.grilla22 {
    background-color: var(--bg);
}

/* Grilla 3 es contenedora del lado derecho */
.grilla3 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grilla31 {
    background-color: var(--bg);
}

.grilla321{
    background-color: var(--bg);  
}

.grilla32 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

/* Inferior */

.inferior{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 110px;
    grid-gap: 10px;
    width: var(--width);
}

.cuadrito{
    background-color: var(--bg);
}